# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_SASL_USERNAME=
KAFKA_SASL_PASSWORD=

# Elasticsearch
ELASTICSEARCH_URL=http://localhost:9200

# Postgres
POSTGRES_URL=postgresql://postgres:postgres@localhost:5432/paywatch

# Redis
REDIS_URL=redis://localhost:6379
